html, body {
  height: 100%;
  width: 100%;
	background-color: lightgoldenrodyellow;
}

img{
	display: block;
	margin: auto;
	background-color: #000000;
	padding: 20px
}

h1,h2,p{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

h1{
	font-size: 40px;
}

h2{
	font-size: 15px;
}

p{
	font-size: 25px;
}

.list{
	text-align: center;
}
